{% extends "_template-specright.html" %}
{% block content %}

{% include "_page-header-specright.html" %}

<!--
  Boilerplate for the Dreamforce 2016 workshop:
  "Rapid prototyping with the Design System Starter Kit and UI Kit"
  http://sfdcworkshop.com/workshop/rapid-prototyping-with-slds/
-->

<!--
  Here's picture you can put into your content.
  Feel free to let your creativity go wild and change this image to your taste!
-->
<!-- <img src="/assets/workshop-salesforce-red.jpg" alt="" class="slds-size--2-of-3 slds-m-bottom--large" /> -->

<!-- PAGE HEADER: https://www.lightningdesignsystem.com/components/page-headers/#flavor-record-home -->


<!-- /PAGE HEADER -->

<!-- WIZARD: https://www.lightningdesignsystem.com/components/process/#flavor-wizard -->

<!-- /WIZARD -->

<!-- COLUMNS - already populated for you: https://www.lightningdesignsystem.com/components/utilities/grid/#flavor-manual-sizing -->

<div class="slds-grid slds-m-top--x-large">	<!-- slds-m-top--large -->

  <!-- COLUMN #1 -->
  <div class="slds-col slds-size--3-of-4 slds-col--padded">

    <!-- TABS: https://www.lightningdesignsystem.com/components/tabs/#flavor-default -->

    <div class="slds-tabs--default">
      <ul class="slds-tabs--default__nav" role="tablist">
        <li class="slds-tabs--default__item slds-text-heading--label slds-active" title="Spec Detail" role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">Spec Detail</a></li>
        <li class="slds-tabs--default__item slds-text-heading--label" title="Corrugated Detail" role="presentation">
          <a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">Corrugated Detail</a>
        </li>
        <li class="slds-tabs--default__item slds-text-heading--label" title="Tooling"
          role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Tooling</a>
        </li>
        <li class="slds-tabs--default__item slds-text-heading--label" title="Unique Files"
          role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-4" id="tab-default-4__item">Unique Files</a>
        </li>
        <li class="slds-tabs--default__item slds-text-heading--label" title="Common Files"
          role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-5" id="tab-default-5__item">Common Files</a>
        </li>
        <li class="slds-tabs--default__item slds-text-heading--label" title="Unique Files"
          role="presentation"><a class="slds-tabs--default__link" href="javascript:void(0);" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-6" id="tab-default-6__item">Related</a>
        </li>
      </ul>
      
      <div id="tab-default-1" class="slds-tabs--default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">

		<!-- 	 
		<div class="slds-form-element">
		  <label class="slds-form-element__label" for="input-unique-id">Internal Part ID</label>
		  <div class="slds-form-element__control">
		    <input type="text" id="input-unique-id" class="slds-input" placeholder="Placeholder Text" value="C089">
		  </div>
		</div>
		-->
		
<div data-aura-rendered-by="3800:0" class="flexipageComponent" data-aura-class="flexipageComponent">
	<form class="slds-clearfix forceDetailPanel inlineEditEnabled" action="javascript:void(0)" data-aura-rendered-by="3804:0" data-aura-class="forceDetailPanel">
		<div data-aura-rendered-by="3805:0"></div>
		<!--render facet: 2:2663;a-->
		<section data-aura-rendered-by="3:2663;a">
			<div class="riseTransitionEnabled" data-aura-rendered-by="4:2663;a">
				<div class="full forcePageBlock forceRecordLayout" data-aura-rendered-by="1081:2920;a" data-aura-class="forcePageBlock forceRecordLayout">
					<section class="full twoCol forcePageBlockSection forcePageBlockSectionView" data-aura-rendered-by="484:2920;a" data-aura-class="forcePageBlockSection forcePageBlockSectionView">

							<div class="sectionContainer" role="list">

								<div class="full forcePageBlockSectionRow" >
									<div class="desktop full listItemBody forcePageBlockItem forcePageBlockItemView" role="listitem" aria-label="Account Name - Burlington Textiles Corp of America">
										<div class="mainBody" >
											<div class="labelCol" >
												<span class="itemLabel truncate" >Account Name</span>
											</div>
											<div class="itemBody" >
												<div class="dataCol readonly slds-no-space" >
													<span class="uiOutputText" data-aura-class="uiOutputText">Burlington Textiles Corp of America</span>
												</div>
												<!-- <button class="slds-button slds-button--neutral inlineEditTrigger uiButton" aria-live="off" type="button" > -->
												<button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" >
													<span class="slds-icon_container slds-icon-utility-edit slds-button__icon forceIcon" >
														<span >
															<svg class="slds-icon--xx-small slds-icon" focusable="false" data-key="edit" aria-hidden="true">
																<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
															</svg>
														</span>
														<span class="slds-assistive-text" >Edit Account Name</span>
													</span>
												</button>
												<!--render facet: 1821:0-->
											</div>
										</div>
									</div>
									<div class="desktop full listItemBody forcePageBlockItem forcePageBlockItemView" role="listitem" aria-label="Phone - (336) 222-7000">
										<div class="mainBody" >
											<div class="labelCol" >
												<span class="itemLabel truncate" >Phone</span>
											</div>
											<div class="itemBody" >
												<div class="dataCol readonly slds-no-space" >
													<span dir="ltr" class="uiOutputPhone" data-aura-class="uiOutputPhone">(336) 222-7000</span>
												</div>
												<button class="slds-button slds-button--neutral inlineEditTrigger uiButton" aria-live="off" type="button" data-aura-class="uiButton">
													<!--render facet: 1844:0-->
													<!--render facet: 1846:0-->
													<span class="slds-icon_container slds-icon-utility-edit slds-button__icon forceIcon" >
														<span >
															<svg class="slds-icon--xx-small slds-icon" focusable="false" data-key="edit" aria-hidden="true">
																<use
																	xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/slds-icons/v7.6.0/utility-sprite/svg/symbols.svg#edit">
																</use>
															</svg>
														</span>
														<span class="slds-assistive-text" >Edit Phone</span>
													</span>
												</button>
												<!--render facet: 1848:0-->
											</div>
										</div>
									</div>
								</div>		
					
					
					</section>
				</div>
			</div>			
		</section>
	</form>
</div>		
		
      </div>

      <div id="tab-default-2" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">Corrugated Detail Content</div>
      <div id="tab-default-3" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-3__item">Tooling Content</div>
      <div id="tab-default-4" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-4__item">
		<article class="slds-card">
		  <div class="slds-card__header slds-grid">
		    <header class="slds-media slds-media_center slds-has-flexi-truncate">
		      <div class="slds-media__figure">
		        <span class="slds-icon_container slds-icon-standard-file" title="description of icon when needed">
		          <svg class="slds-icon slds-icon_small" aria-hidden="true">
		            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#file"></use>
		          </svg>
		        </span>
		      </div>
		      <div class="slds-media__body">
		        <h2>
		          <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="[object Object]">
		            <span class="slds-text-heading_small">Unique Files</span>
		          </a>
		        </h2>
		      </div>
		    </header>
		    <div class="slds-no-flex">

				<!-- 
				<div ><a class=" slds-button slds-button--icon-more " aria-disabled="false" aria-haspopup="true" tabindex="0" title="Display: Grid" href="javascript:void(0);" ><span class="slds-icon_container slds-icon-utility-table slds-button__icon forceIcon" ><span ><svg class="slds-icon slds-icon-text-default slds-icon--xx-small slds-icon" focusable="false" data-key="table" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/slds-icons/v7.6.0/utility-sprite/svg/symbols.svg#table"></use>
				</svg></span><span class="slds-assistive-text" >Display: Grid</span></span><span class="slds-icon_container slds-icon-utility-down slds-m-left--x-small slds-button__icon forceIcon" ><span ><svg class="slds-icon slds-icon-text-default slds-icon--xx-small slds-icon" focusable="false" data-key="down" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/slds-icons/v7.6.0/utility-sprite/svg/symbols.svg#down"></use>
				</svg></span></span></a></div>
				-->

		    	<button class="slds-button slds-button_brand">
				  <svg class="slds-button__icon slds-icon--x-small" focusable="false" data-key="table" aria-hidden="true">
				    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#table"></use>
				  </svg>&nbsp;&nbsp;&nbsp;Grid
		    	</button>
		    	<button class="slds-button slds-button_neutral">
				  <svg class="slds-button__icon slds-icon--x-small" focusable="false" data-key="table" aria-hidden="true">
				    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/action-sprite/svg/symbols.svg#preview"></use>
				  </svg>&nbsp;&nbsp;&nbsp;Preview
		    	</button>
		      	<button class="slds-button slds-button_neutral">New</button>
		    </div>
		  </div>
		  <div class="slds-card__body">
				<!-- <table class="slds-table slds-table_bordered slds-table_resizable-cols slds-table_fixed-layout" role="grid"> -->
				<table class="slds-table slds-table--bordered slds-table--cell-buffer slds-table--fixed-layout">
				  <thead>

			        <tr class="slds-text-heading--label">
			          <th scope="col" >	<!-- class="slds-size--1-of-2" -->
			            <div class="slds-truncate" title="Spec File Name">Spec File Name</div>
			          </th>
			          <th scope="col">
			            <div class="slds-truncate" title="File Type">File Type</div>
			          </th>
			          <th scope="col">
			            <div class="slds-truncate" title="View">View</div>
			          </th>
				      <th scope="col" style="width:3.25rem;">
				        <div class="slds-th__action">
				          <span class="slds-assistive-text">Actions</span>
				        </div>
				      </th>
			        </tr>
				  </thead>
				  <tbody>
				  
			        {% for file in specfiles %}
			        <tr>
			          <th scope="row" data-label="File Name">
			            <div class="slds-truncate" title="{{ file.filename }}"><a href="javascript:void(0);">{{ file.filename }}</a></div>
			          </th>
			          <td data-label="File Type">
			            <div class="slds-truncate" title="{{ file.filetype }}">{{ file.filetype }}</div>
			          </td>
			          <td data-label="View">
			            <div class="slds-truncate" title="{{ file.view }}"><a href="javascript:void(0);">{{ file.view }}</a></div>
			          </td>
				      <td role="gridcell" style="width:3.25rem;">
				        <button class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-x-small" title="Show More">
				          <svg class="slds-button__icon slds-button__icon_hint slds-button__icon_small" aria-hidden="true">
				            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
				          </svg>
				          <span class="slds-assistive-text">Show More</span>
				        </button>
				      </td>
			        </tr>
			        {% endfor %}
				  </tbody>
				</table>
		  </div>
		  <footer class="slds-card__footer">
		    <a href="javascript:void(0);">View All
		      <span class="slds-assistive-text">entity type</span>
		    </a>
		  </footer>
		</article>
	  </div>
      <div id="tab-default-5" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-5__item">Common Files Content</div>
      <div id="tab-default-6" class="slds-tabs--default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-6__item">Related Content</div>	
    </div>	

    <!-- /TABS -->

    <!-- DESCRIPTION LIST: https://www.lightningdesignsystem.com/components/utilities/lists/#flavor-description-list -->

    <!-- /DESCRIPTION LIST -->

  </div>
  <!-- /COLUMN #1 -->

  <!-- COLUMN #2 -->
  <div class="slds-col slds-size--1-of-4 slds-col--padded">

    <!-- NARROW CARD: https://www.lightningdesignsystem.com/components/cards/#flavor-related-list-narrow -->

    <!-- /NARROW CARD -->

  </div>
  <!-- /COLUMN #2 -->

</div>
<!-- /COLUMNS -->

{% endblock %}
